@font-face {
    font-family: "Aller";
    font-weight: normal;
    font-style: normal;
    src: url(fonts/aller/regular.otf);
}

@font-face {
    font-family: "Aller Lite";
    font-weight: normal;
    font-style: normal;
    src: url(fonts/aller/lite.otf);
}

@font-face {
    font-family: "Aller";
    font-weight: normal;
    font-style: italic;
    src: url(fonts/aller/italic.otf);
}

@font-face {
    font-family: "Aller";
    font-weight: bold;
    font-style: normal;
    src: url(fonts/aller/bold.otf);
}

@font-face {
    font-family: "Aller";
    font-weight: bold;
    font-style: italic;
    src: url(fonts/aller/bold-italic.otf);
}

@font-face {
    font-family: "Aller Lite";
    font-weight: normal;
    font-style: italic;
    src: url(fonts/aller/lite-italic.otf);
}

@font-face {
    font-family: "Aller Display";
    font-weight: normal;
    font-style: normal;
    src: url(fonts/aller/display.otf);
}

@font-face {
    font-family: "VeraMono";
    font-weight: normal;
    font-style: normal;
    src: url(fonts/veramono/regular.otf);
}

body {
    padding: 15px;
    margin: 15px;
    background-color: white;
    color: black;
    font-family: "Aller", sans-serif;
    font-size: 10pt;
    text-align: justify;
}

img {
    padding: 0px;
    margin: 0px;
}

h1 {
    clear: both;
    padding-top: 25px;
}

a,
a:hover,
a:visited {
    color: gray;
    text-decoration: underline;
}

.only-pdf {
    display: none;
}

.blockquote,
.attribution {
    text-align: right;
    font-style: italic;
    font-size: 10pt;
}

.term {
    font-weight: bold;
}

.note,
.important {
    background-color: #E0E0E0;
    padding: 15px;
    margin: 15px;
}

.note th,
.important th {
    font-size: 12pt;
}

table {
    font-size: 10pt;
}

.screen,
.programlisting {
    font-family: "VeraMono", monospace;
    background-color: #F0F0F0;
    padding: 15px;
    margin: 15px;
}

.navheader img,
.navfooter img {
    height: 20px;
}

.informaltable {
    border: 0px;
}

.informaltable th {
    border: 0px;
    padding: 10px;
    margin: 5px;
    background-color: #E0E0E0;
}

.informaltable td {
    border: 0px;
    padding: 10px;
    margin: 5px;
    background-color: #F0F0F0;
}
